
      <!-- FOOTER -->
      <footer>
        <p class="pull-right">
        <%= render 'devise/shared/links' %>
        </p>
        <p>&copy; Jordan Blocher and Nick King&middot; <a href="http://www.unr.edu">UNR</a></p>
      </footer>

    </div><!-- /.container -->

