
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; Jordan Blocher &middot; <a href="http://www.unr.edu">UNR</a> &middot; <a href="#=http://www.cse.unr.edu/~jblocher">HomePage</a></p>
      </footer>

    </div><!-- /.container -->

